/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

main {
  padding: 5px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  height: calc(100vh - 10px);
}

.address-column,
.map-column {
  border: 1px solid blue;
}

@media (min-width: 768px) and (max-width: 1023px) {
  main {
    grid-template-columns: 1fr 2fr;
  }
}

@media (min-width: 1023px) {
  main {
    grid-template-columns: 1fr 3fr;
  }
}

.address-input {
  width: 100%;
  font-size: 16px;
  line-height: 32px;
  padding: 0 6px;
  box-sizing: border-box;
  border: 2px solid #000000;
}

.address-list {
  padding: 0;
  list-style: none;
}

.address-item {
  position: relative;
  height: 38px;
  padding: 3px 6px;
  border: 1px solid green;
}

.remove-address {
  position: relative;
  float: right;
  top: 11px;
  width: 19px;
  height: 19px;
  border: 1px solid #000000;
  padding: 0;
  background-color: #ffffff
}

.remove-address::before,
.remove-address::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 1px;
  width: 15px;
  height: 1px;
  background-color: #000000;
}

.remove-address::before {
  transform: rotate(45deg);
}

.remove-address::after {
  transform: rotate(-45deg);
}

.address {
  display: inline-block;
  height: 38px;
  overflow: hidden;
  font-size: 14px;
  line-height: 38px;
  width: calc(100% - 30px);
  border: 1px solid red;
}